
body * {
    font-size: 16px;
}

label {
    font-size: 1.5em;
}

#grid {
    min-height: 100%;
    padding: 0;
    margin: 0;
}

#menu .ui.fluid.vertical.stackable.menu {
    height: 100%;
}

#cat {
    transition-property: all;
    transition-duration: 0.3s;
}

#cat:hover {
    transform: scale(1.1);
}

.ui.large.feed  {
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
    margin-bottom: 15px;
    
    border-left: 1px solid #D3D3D3;
}

.ui.large.feed .event {
    min-height: 75px;
}


.ui.large.feed .event:last-child {
    min-height: 0px;
}

.ui.large.feed .label {
    display: flex;
    position: absolute;
    line-height: 35px;
    
    background-color: white;
    border: 1px solid #D3D3D3;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    
    left: 5px;
    
    padding: 0em;
    margin: 0em;
}

.ui.large.feed i {
    padding: 0em;
    margin: 0em;
}

.ui.large.feed .content {
    padding-left: 20px;
}


